@{
    ViewBag.Title = "OrderDetails";
    Layout = null;
}

<!DOCTYPE html>
<html>

<body>
    <div data-role="view" id="actionsheet-view" data-title="订单详情" data-reload="true">
        <table style="width:100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td>
                        <div style="width:96% ;margin:5px auto;">

                            <h4><b>订单号：</b><a>@ViewBag.OrderNum</a></h4>

                            <h4><b>订单名：</b><a>@ViewBag.OrderName</a></h4>

                            @if (ViewBag.Category == 0)
                            {
                                <h4><b>承接方：</b><a>@ViewBag.OrderSupplier</a></h4>
                            }
                            else
                            {
                                <h4><b>发布方：</b><a>@ViewBag.OrderSupplier</a></h4>
                            }
                        </div>
                        <div class="itemdetail">
                            <div class="itemdetail-inside">
                               <p1 align="center"><b>订单描述</b></p1> <a id="button" onclick="OrderDownload()" data-role="button" style="float:right;margin-right:10px;"name=" OrderDownload">订单下载</a>
                            </div>
                            <h4 style="clear:left"> @ViewBag.OrderContent</h4>
                           
                            
                             <br >
                        </div>
                       
                        <div class="itemdetail">
                            <div class="itemdetail-inside"><p1 align="center"><b>订单进度</b></p1></div>
                            <table style="width:100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>

                                    <tr>
                                        <td>
                                            <ul id="statusPro">
                                                @foreach (var sta in ViewBag.templist)
                                                {
                                                    <li>
                                                        <h4>
                                                            @sta.orderTime
                                                            @sta.statusContent
                                                        </h4>
                                                    </li>
                                                }

                                            </ul>
                                            <div class="divcss5-right">

                                                @if (ViewBag.Category == 1)
                                                {
                                                    <a id="button1" style="float:right;" onclick="changeStatus()"  data-role="button" name=" Status">@ViewBag.NextSta</a>
                                                   <a id="button2" onclick="distribution()" data-role="button" name=" Status" style="float: right; display: none; ">配送</a>
                                                    <a id="button3" onclick="checkDis()"  data-role="button" name=" Status" style="float: right; display: none; ">查看配送单</a>

                                                     if (ViewBag.NextSta == "客户全部签收")
                                                    {
                                                        <script>
                                                            document.getElementById("button1").style.display = "none";
                                                            document.getElementById("button3").style.display = "";
                                                        </script>
                                                    }
                                                    if (ViewBag.NextSta == "订单生产完成" || ViewBag.NextSta == "配送完成")
                                                    {
                                                        <script>
                                                            document.getElementById("button2").style.display = "";
                                                            document.getElementById("button3").style.display = "";
                                                        </script>
                                                    }
                                                    if (ViewBag.NextSta == "客户已评论")
                                                    {
                                                        <script>
                                                            document.getElementById("button1").value = "评价发布方";
                                                            document.getElementById("button2").style.display = "none";
                                                            document.getElementById("button3").style.display = "none";
                                                        </script>
                                                    }
                                                }
                                                else
                                                {
                                                    <a id="button4" style="float:right;" onclick="checkDis()" data-role="button" name=" checkDis">查看配送单</a>
                                                    <a id="button5" onclick="changeStatus()" data-role="button" name=" ReciveOrder" style="float:right; display: none; ">全部签收</a>
                                                    <a id="button6" onclick="changeStatus()" data-role="button" name=" Comment" style="float: right; display: none;">评价承接方</a>

                                                    if (ViewBag.NextSta == "客户已评论")
                                                    {
                                                        <script>
                                                            document.getElementById("button4").style.display = "none";
                                                            document.getElementById("button5").style.display = "none";
                                                            document.getElementById("button6").style.display = "";
                                                        </script>
                                                    }
                                                    if (ViewBag.NextSta == "客户全部签收")
                                                    {
                                                        <script>
                                                            document.getElementById("button5"), style.display = "";
                                                        </script>
                                                    }
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        
                           
                        </div>
                        <br />
                        <div class="itemdetail">
                            <div class="itemdetail-inside"><p1 align="center"><b>订单咨询</b></p1></div>
                            <div id="listview" data-role="listview" data-source="dataSrc" class="inboxList"
                                 data-template="infoExchangeTemlpate"></div>
                            <div style="padding: 10px;">
                                <input style=" width:60% ;height:50px" id="message">&nbsp;
                                <a class="button" style=" width:15%" data-role="button" id="messagebutton" onclick="InfoAdd()">留言</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="script/x-kendo-template" id="infoExchangeTemlpate">
               <div class="mylistviewOrderDetail">
                 #if(Category==1)
                {#
                <div style="width:70%"  align="left">
                    <h3>我公司#:Info_Produced_Time#：</h3>
                    <h4>#:OrderInfoContent#</h4>
                </div>
                #}
                else
                {#<div style="width:70%"  align="right">
                    <h3>承接方#:Info_Produced_Time#：</h3>
                    <h4>#:OrderInfoContent#</h4>
                </div>
                #}#
        </div>
    </script>

    <script>
        var category = "@ViewBag.Category";
        var orderId = "@ViewBag.OrderId";
        var Receiver = "@ViewBag.orderReceiver";
        var Sender = "@ViewBag.orderSender";


        function changeStatus() {
            $.ajax({
                url: "/../OrderDemo/changeStatus",
                method: "POST",
                data:
                    {
                        option: orderId,
                    },
                error: function (request) {
                    alert("Connection error");
                },
                success: function (msg) {
                    var strhtml = "订单进度";
                    console.info(msg);
                    $.get("/../OrderDemo/OrderStatusChange", { option: orderId },
                       function (result) {
                           var total = result.total - 1;
                           for (var i = 0; i < total; i++) {
                               strhtml += '<div  sytle="background:#32CD32" class="footer1"> <span style="float:left">' + result.rows[i].orderTime + ':--' + result.rows[i].statusContent + '</span></div><br>';
                           }
                           document.getElementById("statusPro").innerHTML = strhtml;
                           console.info(result.rows[total].statusContent);
                           //点击合同签订
                           if (result.rows[total - 1].status == 1) {
                               document.getElementById("button1").value = result.rows[total].statusContent;
                           }

                           //点击完正在生产
                           if (result.rows[total - 1].status == 2) {
                               document.getElementById("button1").value = result.rows[total].statusContent;
                               document.getElementById("button2").style.display = "";
                               document.getElementById("button3").style.display = "";
                           }
                           //点击完生产完成
                           if (result.rows[total - 1].status == 3) {
                               document.getElementById("button1").value = result.rows[total].statusContent;
                               document.getElementById("button2").style.display = "";
                               document.getElementById("button3").style.display = "";
                           }
                           //点击完配送完成
                           if (result.rows[total - 1].status == 4) {
                               document.getElementById("button1").value = result.rows[total].statusContent;
                               document.getElementById("button1").style.display = "none";
                               document.getElementById("button2").style.display = "none";
                           }
                           //点击全部签收
                           if (result.rows[total - 1].status == 5) {
                               document.getElementById("button4").style.display = "none";
                               document.getElementById("button5").style.display = "none";
                               document.getElementById("button6").style.display = "";
                           }
                       });
                }
            });
        }

        function checkDis() {    
            app.navigate("/../Transportation/distributionList?orderId=" + orderId + "&category=" + category);
        }
        function distribution() {
           
            app.navigate("/../Transportation/AddTransportList?orderId=" + orderId + "&category=" + category+"&sender="+Sender+"&receiver="+Receiver);
        }

        var dataSrc = new kendo.data.DataSource({
            transport: {
                read: {
                    type: "POST",
                    url: "/OrderDemo/GetInfoList",
                    data:
                    {
                        option: orderId,
                    },
                    dataType: "json"
                }
            },
        });
        //提交留言
        function InfoAdd() {
            $.post(
            "/../OrderDemo/MessageAdd",
            {
                message: $("#message").val(),
                option: orderId,
            },
            function (data) {
                $("#message").attr("value", "");
                app.navigate("#:Refresh", "slide");
                
            }
            );

        }
    </script>

    <style scoped>
        .itemOrderDetail h3, h4, h5 {
            font-weight: normal;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .mylistviewOrderDetail h4, h5 {
            margin-bottom: 0px;
            margin-top: 0px;
        }
    </style>
</body>

</html>
